body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-image: url('sky.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    min-height: 100%;

}


#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height:100vh;
    color: #f0d43a;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}


.holder{
    border: 1px solid inherit;
    border-radius: 8px;
    padding: 14px;
    margin: 8px;
    background-color: #3b0088;
    -webkit-box-shadow: 0px 10px 45px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 45px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 45px -2px rgba(0,0,0,0.75);
    opacity: 0.9;
}


.entry{
    background: rgba(59, 74, 107, .4);
}


#entryHolder{
    border: none;
    border-radius: 8px;
    padding: 20px;
    margin: 8px;
    background-color: #3b0088;
    color: white;

}


#date{
    padding: 4px;
    margin: 4px;
}


#temp{
    padding: 4px;
    margin: 4px;
}


#content{
    font-family: 'Work Sans', sans-serif;

}


#headline {
    font: bold 45px 'Rubik', sans-serif;
    text-align: center;
}


.title{
    font: bold 30px 'Rubik', sans-serif;
    text-align: center;
}


/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}


input{
    display:block;
    height: 40px;
    width: 320px;
    background:#7a87fd;
    color: #000000;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    border: none;
    border-radius: 12px;
    padding: 6px;
    margin: 4px;
}


button{
    width: 140px;
    height: 40px;
    background: #343435;
    color: #f0d43a;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 4px 5px rgb(46, 46, 46);
}


h1{
    font-size: 36px;
}


textarea{
    background:#7a87fd;
    color: #000000;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    border-radius: 8px;
    margin: 14px;
}


/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Work Sans', sans-serif;

} 


:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Work Sans', sans-serif;

} 
  

::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Work Sans', sans-serif;

} 